<!DOCTYPE html>
<html lang="pt">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="Description" content="">
<meta name="Keywords" content="">
<title>tinktime</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
<!-- Mobile Devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 

</head>
<body>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/js/utility.js"></script>
</body>
</html>