<!DOCTYPE html>
<html lang="pt">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="Description" content="">
<meta name="Keywords" content="">
<title>tinktime</title>


<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />



<!-- Mobile Devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

{% block css %}
{% end %}

{% block beforeincludejs %}
{% end %}
</head>
<body>
<div data-role="tabs" id="tabs-main">
    <div data-role="navbar">
        <ul>
            <li><a href="#tab-base" data-ajax="false">Welcome</a></li>
            <li><a id="base-tab-trinket" href="#tab-trinket" data-ajax="false">Trinket</a></li>
            <li><a id="base-tab-profile" href="#tab-profile" data-ajax="false">Profile</a></li>
            <li><a id="base-tab-communicate" href="#tab-communicate" data-ajax="false">Communication</a></li>
        </ul>
    </div>
    <div id="tab-base">
        <h1>Welcome to backoffice</h1>
    </div>
    <div id="tab-trinket" class="ui-body-d ui-content">
        {% block content-trinket %}
        {% end %}
    </div>
    <div id="tab-profile" >
        {% block content-profile %}
        {% end %}
    </div>
    <div id="tab-communicate" >
        {% block content-communicate %}
        {% end %}
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script src="/static/js/base.js"></script>
<script src="/static/js/utility.js"></script>
<script src="/static/js/jquery.cookie.js"></script>


{% block afterincludejs %}
{% end %}
<script>{% block afterjscripts %}
{% end %}
</script>
</body>
</html>