<!DOCTYPE html>
<html lang="pt">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="Description" content="">
<meta name="Keywords" content="">
<title>tinktime</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!--link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/static/css/style-index.css" rel="stylesheet" type="text/css" /-->
<link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
<!-- Mobile Devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"> 

</head>
<body>
<section id="top">
    <div id="emotion">
        <!--h1>What are you <br/>thinking of ?</h1-->
        <img src="/static/img/giftbox.png" class="img-responsive">
    </div>
</section>
    <section id="bottom">
        <div class="lower">
        <div id="logodiv">
            <img id="logotext" src="/static/img/title.png" class="img-responsive">
        </div>
        <div>
            <div id="invite" class="well well-lg">
                    <div class="teaser-text">
                        <p>Be the first to grab a spot at our upcoming launch</p>
                    </div>
                    <div class="input-group">
                      <input id="email" type="text" placeholder="joe@tinktime.com" class="form-control">
                      <span id="inviteme" class="input-group-addon">invite me!</span>
                    </div>
                    <div class="teaser-text">
                        <p>don't worry, no spam!</p>
                    </div>
             </div>
        </div>
    </div>
    </section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/js/utility.js"></script>
<script src="/static/js/invite.js"></script>
</body>