<!DOCTYPE html>
<html lang="pt">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="Description" content="">
<meta name="Keywords" content="">
<title>tinktime</title>


<!-- Mobile Devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">


</head>
<body>

       <h3>Login via:</h3>

<div >

      <button type="button" class="btn btn-default btn-lg btn-block" id="btngoogle">Google</button>
      <!--button type="button" class="btn btn-default btn-lg btn-block" id="btntwitter" >Twitter</button-->

</div>
<div class="spacer"></div>
            <script src="/static/js/login.js"></script>
</body>
</html>