{% extends "pa_base.html" %}

{% block content %}
<ul class="nav nav-pills">
  <li role="presentation"  class="active"><a href="/pre-alpha/1618/">Send</a></li>
  <li role="presentation"><a href="/pre-alpha/feed/8161/">Feed</a></li>
</ul>
<div class="well">
    <div class="input-group">
      <span class="input-group-addon">From<span class="glyphicon glyphicon-user"></span></span>
      <input id="from" type="text" class="form-control" placeholder="senders name">
    </div>

    <div class="input-group">
      <span class="input-group-addon">To<span class="glyphicon glyphicon-user"></span></span>
      <input id="to" type="text" class="form-control" placeholder="receivers name">
    </div>

    <div class="input-group">
      <span class="input-group-addon">Trinket_name<span class="glyphicon glyphicon-star-empty"></span></span>
      <input id="trinketid" type="number" class="form-control" placeholder="trinket name">
    </div>

    <div class="input-group">
      <span class="input-group-addon">Time in seconds<span class="glyphicon glyphicon-time"></span></span>
      <input id="seconds" type="number" class="form-control" placeholder="seconds">
    </div>

    <div class="input-group">
      <span class="input-group-addon">Message<span class=glyphicon glyphicon-envelope"></span></span>
      <input id="text" type="text" class="form-control" placeholder="text message">
    </div>

    <div id="senddiv" class="alert alert-info" role="alert">
     <button type="button" class="form-control" id="sendbtn">Send</button>
    </div>
</div>
{% end %}