@font-face {
    font-family: 'nexalight'; /*a name to be used later*/
    src: url('../fonts/NexaLight.otf') format("opentype"); /*URL to font*/
}

body{
    color: #FFFFFF;
    font-family: 'nexalight';
}

html, body,header{
    height: 100%;
}


.bottom{
 background-color:#2D87AA;
padding-top: 30px;
padding-bottom: 30px;
}

.top{
    position: relative;
}

.emotion-lg{
    position: absolute;
    z-index:2;
    top: 150px;
    left: 50px;
}


.center-it{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.emotion{
    background: rgba(204, 204, 204, 0.5);
    padding: 15px;
    border-radius: 25px;
    width: 350px;
    height: 400px;
}
#logotext{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#invite{
    border: 2px solid #96c3d5;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.well{
    background-color:#2D87AA;
}

.lower{
    padding-top:40px;
    padding-bottom:40px;
}

#inviteme{
    background-color: #f9d746;
    color: #4D4D4D;
}

.teaser-text{
text-align: center;
vertical-align: middle;
color: #c0dbe5;
}

.teaser-email{
border: .5px solid #96c3d5;
border-radius: 4px;
}

.license{
    margin-top: -30px;
}

