body{
    font-color: #FFFFFF;
}

html, body,header{
    height: 100%;
}


#bottom{
 background-color:#2D87AA;
}
#emotion{
    position: relative;
    left: 30px;
    top: 100px;
}

#logotext{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#invite{
    border: 2px solid #96c3d5;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.well{
    background-color:#2D87AA;
}

.lower{
    padding-top:40px;
    padding-bottom:40px;
}

#inviteme{
    background-color: #f9d746;
    color: #4D4D4D;
}

.teaser-text{
text-align: center;
vertical-align: middle;
color: #c0dbe5;
}

.teaser-email{
border: .5px solid #96c3d5;
border-radius: 4px;
}

.license{
    margin-top: -30px;
}
